body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}